DISCORD_TOKEN=
CLIENT_ID=
CLIENT_SECRET=
OWNER_ID=
GUILD_ID=
OPENAI_API_KEY=
DATABASE_URL=
REDIRECT_URI=http://localhost:3000/callback
FRONTEND_URL=http://localhost:3000
PORT=4000
NODE_ENV=development
DEBUG=false